.my-wrapper {
    position: relative;
    .my-selected {
        display: flex;
        align-items: center;     /* 垂直居中 */
        justify-content: center; /* 水平居中 */
        width: 402px;
        height: 48px;
        border: 1px solid #DCDFE6;
        background: #fff;
        .selected {
            width: 340px;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            .selected-all {
                display: -webkit-box;
                padding: 0 10px;
                overflow-x: scroll;
                .selected-every {
                    display: flex;
                    align-items: center;     /* 垂直居中 */
                    justify-content: center; /* 水平居中 */
                    background: #f0f2f5;
                    margin: 0 5px;
                    padding: 0 5px;
                    border-radius: 5px;
                    color: #909399;
                    .name {
                        font-size: 14px;
                        padding-right: 5px;
                    }
                    .delect {
                        cursor: pointer;
                    }
                }
            }
            .text {
                padding: 0 20px;
                color: #606266;
            }
        }
        .icon {
            display: flex;
            align-items: center;     /* 垂直居中 */
            justify-content: center; /* 水平居中 */
            flex: 1;
            height: 48px;
            color: #C0C4CC;
            cursor: pointer;
        }
    }
    .my-box {
        position: absolute;
        width: 610px;
        top: 48px;
        .my-cascader {
            // position: relative;
            height: 252px;
            font-size: 14px;
            overflow-y: scroll;
            .content {
                display: flex;
                align-items: center;     /* 垂直居中 */
                justify-content: space-between;
                width: 200px;
                padding: 10px 20px;
                background: #fff;
                cursor: pointer;
                .first-name {
                    span {
                        display: inline-block;
                        width: 90px;
                        margin-right: 10px;
                    }
                }
                .first-is-next {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 200px;
                    width: 405px;
                    border-left: 1px solid #eee;
                    .next {
                        width: 200px; 
                        height: 252px; 
                        overflow-y: scroll; 
                        background: #fff;
                        .second-content {
                            display: flex;
                            align-items: center;     /* 垂直居中 */
                            justify-content: space-between;
                            width: 200px;
                            padding: 10px 20px;
                            background: #fff;
                            cursor: pointer;
                            .second-name {
                                span {
                                    display: inline-block;
                                    width: 90px;
                                    margin-right: 10px;
                                }
                            }
                            .second-is-next {
                                display: none;
                                position: absolute;
                                top: 0;
                                left: 200px;
                                height: 252px;
                                overflow-y: scroll;
                                background: #fff;
                                border-left: 1px solid #eee;
                                .third-content {
                                    display: flex;
                                    align-items: center;     /* 垂直居中 */
                                    justify-content: space-between;
                                    width: 200px;
                                    padding: 10px 20px;
                                    background: #fff;
                                    cursor: pointer;
                                    .third-name {
                                        span {
                                            display: inline-block;
                                            width: 90px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                                .third-content:hover {
                                    background: #E6EDF5;
                                }
                            }
                        }
                        .second-content:hover {
                            background: #E6EDF5;
                        }
                        .second-content:hover .second-is-next {
                            display: block;
                        }
                    }
                }
            }
            .content:hover {
                background: #E6EDF5;
            }
            .content:hover .first-is-next {
                display: block;
            }
        }
        .my-cascader-hidden-scroll::-webkit-scrollbar {
            display: none;
        }
    }
    .my-box-hidden-scroll::-webkit-scrollbar {
        display: none;
    }
    .my-search-box {
        position: absolute;
        top: 48px;
        .my-search-input {
            .my-autocomplete {
                width: 402px;
                .el-input__inner {
                    padding: 0 22px !important;
                }
            }
        }
        .my-search-content {
            .search-content {
                display: flex;
                align-items: center;     /* 垂直居中 */
                justify-content: space-between;
                width: 402px;
                padding: 10px 22px;
                background: #fff;
                font-size: 14px;
                color: #606266;
                cursor: pointer;
            }
            .search-content:hover {
                background: #E6EDF5;
            }
        }
    }
}